<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlockTalk</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Rubik&display=swap" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



  <!-- Bootstrap core CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/offcanvas.css" rel="stylesheet">
</head>


<body class="text-center">


  <!-- Navbar -->
  <nav>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-3 fw-bold">BlockTalk</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active fw-bold" aria-current="page">Your Feed</a></li>
          <li class="nav-item"><a href="/yourPosts" class="nav-link link-dark fw-bold">Your Posts</a></li>
          <li class="nav-item"><a href="/newPost" class="nav-link link-dark fw-bold">New Post</a></li>
          <li class="nav-item"><a href="/" class="nav-link link-dark fw-bold">Logout</a></li>
        </ul>
      </header>
    </div>
  </nav>

  <!-- Content -->
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        For You..
      </h3>
      <br>

      <article class="blog-post">


        <h2 class="blog-post-title">Digital transformation can turn sustainability into your winning business strategy</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">@spectacular</a></p>

        <p>It’s past time for businesses to get serious about their sustainability efforts. Governments, shareholders, employees and consumers all want businesses to make environmental concerns integral to their decision-making. In fact, research from IBM’s Institute for Business Value (IBV) finds that 50% of consumers say they’re willing to pay a premium for sustainable brands.<a href="#">Read More...</a></p>
        <br>
        <hr>
        <br>


        <h2 class="blog-post-title">Four ways digital transformation can help meet sustainability goals</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">@flourishing</a></p>

        <p>The pandemic-related events of the past two years have people rethinking their sustainability priorities. Governments are issuing regulatory standards. Investors and financial managers are incorporating sustainability criteria in their investment decisions.<a href="#">Read More...</a></p>
        <br>
        <hr>
        <br>



        <h2 class="blog-post-title">Harnessing the power of data and AI to operationalize sustainability</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">@wheatbread</a></p>

        <p>Companies are under mounting pressure from regulators, investors, and consumers to progress toward more sustainable and socially responsible business operations — and to demonstrate these measures in a robust and verifiable way.<a href="#">Read More...</a></p>
        <br>
        <hr>
        <br>


        <h2 class="blog-post-title">Take digital assets into the enterprise with blockchain</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">@thethirdman</a></p>

        <p>Digital assets have been ubiquitous in the news these days: cryptocurrencies, stablecoins or non-fungible tokens (NFTs), to name a few. Their applications are even more varied, from representing financial instruments to safeguarding authenticity and ownership of digital IP or physical assets.<a href="#">Read More...</a></p>
        <br>
        <hr>
        <br>





      <!-- </article>

      <article class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on
          the lookout for this exact same string of text.</p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article> -->


      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">Trending</h4>
          <ol class="list-unstyled mb-0">
          <li><a href="#">#TuesdayVibe</a></li>
          <li><a href="#">#InnocentSuffers</a></li>
          <li><a href="#">#SRHvsGT</a></li>
          <li><a href="#">#ABVP</a></li>
          <li><a href="#">#SSRarmyUnbeatable</a></li>
          <li><a href="#">#HappyWeekDay</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Online</h4>
          <ol class="list-unstyled mb-0">
            <li>@optimusprime</li>
            <li>@forrestgump</li>
            <li>@chickenwing</li>
            <li>@diabolique</li>
            <li>@thegreenmile</li>
            <li>@spectacular</li>
          </ol>
        </div>

      </div>
    </div>
  </div>

  </main>


</body>



<footer>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link px-2 text-muted">Login</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Register</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 BlockTalk, Inc</p>
    </footer>
  </div>
</footer>

</body>

</html>
